@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #1a1a1a;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
}

:root {
  --verde-medio: #4f7546;
  --verde-escuro: #112920;
  --verde-oliva: #a1a742;
  --verde-musgo: #024326;
  --laranja: #eb8b51;
  --bege: #d7d9a2;
  --verde-fundo: #f0f5ee;
  --verde-borda: #c5d5c0;
  --cinza-texto: #4a4a4a;
  --cinza-claro: #f7f8f3;
}
